<html xmlns:th="http://www.thymeleaf.org">
<!--<div th:fragment="passwordModal"  id="passwordModal" role="dialog">-->
<!--    <div class="modal-dialog">-->
<!--        <form method="POST"  th:action = "@{/admin/employeesList}"  th:object="${user}" class="form-control">-->
<!--            <div class="modal-content">-->
<!--                <div class="modal-header">-->
<!--                    <button type="button" class="close" data-dismiss="modal">&times;</button>-->
<!--                    <h4 class="modal-title">Zmiana hasła</h4>-->
<!--                </div>-->
<!--                <div class="modal-body">-->
<!--                    <input type="hidden" th:field="*{id}"/>-->
<!--                    <input type="password" placeholder="Wpisz nowe hasło" th:field="*{password}"/>-->

<!--                </div>-->
<!--                <div class="modal-footer">-->
<!--                    <button id="submitEditEmail" class="btn btn-lg btn-primary btn-block" type="submit">Zatwierdź</button>-->
<!--                    <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </form>-->
<!--    </div>-->


<div th:fragment="passwordModal" class="modal fade" id="passwordModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Zmiana hasła</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" th:action="@{/admin/employeesList}" th:object="${user}">
            <div class="modal-body">
                    <input type="hidden" th:field="*{id}"/>
                    <input class="form-control" type="password" placeholder="Wpisz nowe hasło" th:field="*{password}"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                <button type="submit" class="btn btn-primary">Zapisz</button>

            </div>
            </form>
        </div>
    </div>
</div>


<!--</div>-->
</html>