<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <div th:insert="fragments/head :: head"></div>
</head>
<body>
<!--header-->
<div th:insert="fragments/navbar :: navbar"></div>
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div th:insert="fragments/menu :: menu"></div>
        </div>
        <div class="col-sm-9">
            <h3><span th:text="Edycja"></span></h3>
            <h5><span th:text="${user.email}+' (id:'+${user.id}+')'"></span></h5><br>
            <button id="btn-editEmail" th:object="${user}" modelAttribute="user" type="button" data-toggle="modal"
                    data-target="#passwordModal" class="btn pull-right middle btn-primary"><span
                    class="glyphicon glyphicon-pencil"></span> Zmień hasło
            </button>
            <a class="btn btn-primary btn" th:href="@{/admin/employeeEdit(delete=${user.id})}">Usuń konto</a>
            <br><br>
            <form action="#" th:action="@{/admin/employeeEdit}" method="post" th:object="${user}"
                  class="needs-validated" novalidate>
                <div class="form-group">
                    <label for="firstName">Imię: </label><br><span style="color:red;font-size:12px"
                                                                   th:if="${#fields.hasErrors('firstName')}"
                                                                   th:errors="*{firstName}"></span>
                    <input type="text" id="firstName" class="form-control" placeholder="Wpisz imię"
                           th:field="*{firstName}"/>
                </div>
                <div class="form-group">
                    <label>Nazwisko: </label><br><span style="color:red;font-size:12px"
                                                       th:if="${#fields.hasErrors('lastName')}"
                                                       th:errors="*{lastName}"></span>
                    <input type="text" class="form-control" placeholder="Wpisz nazwisko" th:field="*{lastName}"/>
                </div>
                <div class="form-group">
                    <label>Ulica i numer: </label><br><span style="color:red;font-size:12px"
                                                            th:if="${#fields.hasErrors('address.street')}"
                                                            th:errors="*{address.street}"></span>
                    <input type="text" class="form-control" placeholder="Wpisz ulicę i numer"
                           th:field="*{address.street}"/>
                </div>
                <div class="form-group">
                    <label>Kod pocztowy: </label><br><span style="color:red;font-size:12px"
                                                           th:if="${#fields.hasErrors('address.postalCode')}"
                                                           th:errors="*{address.postalCode}"></span>
                    <input type="text" class="form-control" placeholder="Wpisz kod pocztowy"
                           th:field="*{address.postalCode}"/>
                </div>
                <div class="form-group">
                    <label>Miasto: </label><br><span style="color:red;font-size:12px"
                                                     th:if="${#fields.hasErrors('address.city')}"
                                                     th:errors="*{address.city}"></span>
                    <input type="text" class="form-control" placeholder="Wpisz miasto" th:field="*{address.city}"/>
                </div>
                <input type="hidden" class="form-control" th:field="*{id}"/>
                <button type="submit" class="btn btn-primary">Zapisz</button>
            </form>
        </div>
    </div>
</div>
<div th:insert="admin/_password :: passwordModal"/>
<!--footer-->
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>


