<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <div th:insert="fragments/head :: head"></div>
</head>
<body>
<!--header-->
<div th:insert="fragments/navbar :: navbar"></div>
<div class="container">

    <div class="row">
        <div class="col-sm-3">
            <div th:insert="fragments/menu :: menu"></div>
        </div>
        <div class="col-sm-9">

            <form action="#" th:action="@{/admin/productAdd}" method="post" th:object="${product}"
                  class="needs-validated" novalidate>
                <div class="form-group">
                    <label for="name">Nazwa: </label><br><span style="color:red;font-size:12px"
                                                               th:if="${#fields.hasErrors('name')}"
                                                               th:errors="*{name}"></span>
                    <input type="text" id="name" class="form-control" placeholder="Wpisz nazwę" th:field="*{name}"/>
                </div>
                <label for="name">Kategoria: </label><br>
                <select th:object="${category}" class="form-control" th:name="id" th:field="${product.category}">
                    <option th:each="category:${categories}" th:value="${category.id}" th:text="${category.name}"/>
                </select>
                <br>
                <div class="form-group">
                    <label for="price">Cena: </label><br><span style="color:red;font-size:12px"
                                                               th:if="${#fields.hasErrors('price')}"
                                                               th:errors="*{price}"></span>
                    <input type="text" id="price" class="form-control" placeholder="Wpisz cenę" th:field="*{price}"/>
                </div>
                <div class="form-group">
                    <label for="description">Opis: </label><br><span style="color:red;font-size:12px"
                                                                     th:if="${#fields.hasErrors('description')}"
                                                                     th:errors="*{description}"></span>
                    <input type="text" id="description" class="form-control" placeholder="Opis"
                           th:field="*{description}"/>
                </div>

                <br>
                <div class="form-group">
                    <input type="hidden" id="id_picture" th:field="*{picture.id}"/>
                    <input type="hidden" id="picture" th:field="*{picture.fileName}"/>
                <img th:if="*{picture.fileName != null}" class="img-thumbnail" th:src="@{|/files/*{picture.fileName}|}"/>
                    <img th:unless="*{picture.fileName != null}" class="img-thumbnail" th:src="@{|/files/nopictures.jpg|}"/>
                </div>
                <button type="submit" class="btn btn-primary">Dodaj</button>
            </form>
            <div class="form-group">
            <form method="POST" enctype="multipart/form-data" action="/admin/productAddfile">
                <table>
                    <tr><td>Wgraj zdjęcie:</td><td><input type="file" name="file " class="btn btn-outline-primary"/></td></tr>
                    <tr><td></td><td><input class="btn btn-primary btn-sm" type="submit" value="Upload" /></td></tr>
                </table>
            </form>
        </div>


<!--            <div>-->
<!--                <ul>-->
<!--                    <li th:each="file : ${files}">-->
<!--                        <a th:href="${file}" th:text="${file}" />-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </div>-->


        </div>
    </div>
</div>
<!--footer-->
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>


