<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <div th:insert="fragments/head :: head"></div>
</head>
<body>
<!--header-->
<div th:insert="fragments/navbar :: navbar"></div>
<div class="container" style="margin-top:30px; margin-bottom: 30px">
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:25%"></div>
        <br>
    </div>
    <div class="row" style="margin-top:30px">
        <div class="col">
            <h3><a th:href="@{/cart/show}" style="color: black" th:text="Produkty "></a> <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <span class="badge" style="background-color: red; color: white" th:text="${cartQuantity}"></span></h3>
            <h7>
                <div th:each="productItem : ${productItems}">
                <span th:text="${productItem.product.name+' '+#numbers.formatDecimal(productItem.product.price, 1, 'DEFAULT', 2, 'DEFAULT')+'zł ('+productItem.quantity+'szt)'}"></span><br>
                </div>
            </h7>
        </div>
        <div class="col">
            <h3>Adres dostawy  <a th:href="@{/myAcount}"
                                     class="btn btn-outline-success" role="button">Zmień</a></h3>
            <h7>
                <span th:text="${user.firstName}"></span><br>
                <span th:text="${user.lastName}"></span><br>
                <span th:text="${user.address.street}"></span><br>
                <span th:text="${user.address.postalCode}"></span><br>
                <span th:text="${user.address.city}"></span><br>
                <span th:text="${user.email}"></span><br>
                <a th:href="@{/order/delivery}"
                   class="btn btn-success pull-right" role="button">Dalej</a>
            </h7>
        </div>
    </div>
</div>
<!--footer-->
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>


