<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="editUserModal" class="modal fade" id="editUserModal" role="dialog">
    <div class="modal-dialog">
        <form method="POST" modelAttribute="user" th:action = "@{/admin/employeesList}" th:object="${user}" class="form-control">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edycja Pracownika</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" th:field="*{id}"/>
                    <input type="text" placeholder="Email" th:field="*{firstName}"/>
                    <input type="text" placeholder="Email" th:field="*{lastName}"/>
                </div>
                <div class="modal-footer">
                    <button id="submitEditEmail" class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>
</html>