<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
<header th:fragment="header">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <!-- Brand/logo -->
        <a class="navbar-brand" href="/home">
            <img src="/images/pizza_logo.png" alt="logo" style="width:40px;">
        </a>

        <!-- Links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Link 1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link 2</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link 3</a>
            </li>
        </ul>

        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
                <span class="nav-link" style="color:white" th:text="#{phone}"></span>
            </li>
            <li class="nav-item">
                <div class="nav-link" sec:authorize="isAuthenticated()">
                    <span sec:authentication="name"></span>
                    <span sec:authorize="hasAuthority('ADMIN')">
                        - admin
                    </span>
                </div>
            </li>
            <li class="nav-item" sec:authorize="isAnonymous()">
                <a class="nav-link" href="/register">Zarejestruj</a>
            </li>
            <li class="nav-item" sec:authorize="isAnonymous()">
                <a class="nav-link" href="/login">Zaloguj</a>
            </li>
            </li>

            <li class="nav-item">
                <span sec:authorize="hasAuthority('ADMIN')">
                    <a class="nav-link" href="/admin/home">Panel Administratora</a>

                </span>
            </li>

            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" href="/myAcount">Moje Konto</a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" href="/logout">Wyloguj</a>
            </li>

        </ul>
    </nav>
    <div class="jumbotron text-center" style="background-image: url(/images/pizza_home.jpg); ">
        <h1>Pizzeria Italiano</h1>
        <p>Prawdziwa Włoska Pizza</p>
    </div>

</header>
</body>
</html>
