<html lang="en" xmlns:th="http://www.thymeleaf.org">
<menu th:fragment="menu">
<h3>Panel Administratora</h3>
<ul class="nav nav-pills flex-column">
    <li class="nav-item">
            <a th:if="${selectedMenu=='home'}" class="nav-link active" href="/admin/home">Home</a>
            <a th:unless="${selectedMenu=='home'}" class="nav-link" href="/admin/home">Home</a>
    </li>
    <p>Produkty</p>
    <li class="nav-item">
        <a th:if="${selectedMenu=='productAdd'}" class="nav-link active" href="/admin/productAdd">Dodaj</a>
        <a th:unless="${selectedMenu=='productAdd'}" class="nav-link" href="/admin/productAdd">Dodaj</a>
    </li>

    <br>
    <p>Kategorie</p>

    <li class="nav-item">
        <a th:if="${selectedMenu=='categoryAdd'}" class="nav-link active" href="/admin/categoryAdd">Dodaj</a>
        <a th:unless="${selectedMenu=='categoryAdd'}" class="nav-link" href="/admin/categoryAdd">Dodaj</a>
    </li>
    <li class="nav-item">
        <a th:if="${selectedMenu=='categoriesList'}" class="nav-link active" href="/admin/categoriesList">Lista kategorii</a>
        <a th:unless="${selectedMenu=='categoriesList'}" class="nav-link" href="/admin/categoriesList">Lista kategorii</a>
    </li>
    <br>
    <p>Pracownicy</p>

    <li class="nav-item">
        <a th:if="${selectedMenu=='employeeAdd'}" class="nav-link active" href="/admin/employeeAdd">Dodaj</a>
        <a th:unless="${selectedMenu=='employeeAdd'}" class="nav-link" href="/admin/employeeAdd">Dodaj</a>
    </li>
    <li class="nav-item">
        <a th:if="${selectedMenu=='employeesList'}" class="nav-link active" href="/admin/employeesList">Lista pracowników</a>
        <a th:unless="${selectedMenu=='employeesList'}" class="nav-link" href="/admin/employeesList">Lista pracowników</a>
<!--        <a class="nav-link" href="#">Lista pracowników</a>-->
    </li>
    <br>
    <p>Klienci</p>

    <li class="nav-item">
        <a th:if="${selectedMenu=='customersList'}" class="nav-link active" href="/admin/customersList">Lista Klientów</a>
        <a th:unless="${selectedMenu=='customersList'}" class="nav-link" href="/admin/customersList">Lista Klientów</a>
        <!--        <a class="nav-link" href="#">Lista pracowników</a>-->
    </li>
</ul>
<!--    <span th:text="${active}">id</span>-->
</menu>