<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <div th:insert="fragments/head :: head"></div>
</head>
<body>
<!--header-->
<div th:insert="fragments/navbar :: navbar"></div>

<div class="container" style="margin-top:30px">
    <div class="row">
        <div class="col-sm-4">
            <h2>O nas</h2>
            <h5>   <span th:text="#{phone}">id</span></h5>
            <p><span th:text="#{about}">id</span></p>
            <p><span th:text="#{address}">id</span></p>
            <h3>Linki</h3>
            <p>Najlepsza pizza w mieście</p>
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="/menu">Menu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/delivery">Dostawa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sale">Promocje</a>
                </li>
            </ul>
            <hr class="d-sm-none">
        </div>
        <div class="col-sm-8">
            <h2>PIZZA INNA NIŻ WSZYSTKIE</h2>
            <h5>Poleca nasz szef Antonio Esposito</h5>
            <p>Witamy w naszej pizzerii z tradycjami, która jest już ponad 9 lat na rynku polskim.
                Pizzeria Italiano to wyjątkowa pizza o niezapomnianym smaku wypiekana z pasją specjalnie dla Państwa.
                Nasi klienci mogą zamówić pizze przez Internet i przez telefon z gwarancja szybkiego dowozu oraz zapłacić kartą bezpośrednio u kierowcy.
                Naszą wizytówką jest smak najlepszej pizzy w Toruniu i zadowolenie Państwa podniebienia inne pizzerie tego nie mają!
            </p>
            <br>
            <h2>PIZZA Z PIEKIEŁ</h2>
            <h5>Barbecue habanero</h5>
            <p>"BARBECUE HABANERO" - Wyjątkowa receptura ciasta, smaczny ser oraz wysokiej jakości produkty stanowią sekret naszej pizzy. Składniki pizzy to: sos, ser, pieczarki, cebula, papryka, pepperoni (łagodne lub pikantne), salami, szynka. Pizze mają rozmiary 31cm, 41cm, 61cm, 71cm i można wybrać jeden z 3 sosów w sosjerkach (łagodny, czosnkowy, pikantny). Doskonale dobrane składniki oraz wypiekanie pizzy z pasją sprawiają, że nasza pizza wyróżnia się spośród najlepszych.</p>
        </div>
    </div>
</div>
<!--footer-->
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>


