<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <div th:insert="fragments/head :: head"></div>
</head>
<body>
<!--header-->
<div th:insert="fragments/navbar :: navbar"></div>
<script src="https://use.fontawesome.com/c560c025cf.js"></script>

<div class="container" style="margin-top:30px" >

    <h2>Menu</h2>
    <br>
    <span th:each="productList : ${productsMap}">
        <div class="container p-3 my-3 border rounded" style="background: red; text-align: center">
        <h3><span style="color: white; text-align: center" th:text="${productList.key}"></span></h3>
        </div>
        <table class="table table-hover">
            <thead>
                    <tr>
                        <th style="min-width: 50px"></th>
                        <th style="width: 80%">Nazwa</th>

                        <th style="width: 5%">Cena</th>
                        <th style="width: 5%"></th>
                    </tr>
            </thead>
            <tbody>
<!--           iteracja właściwa-->
                <tr th:each="product : ${productList.value}">


                     <td><img style="width:50px; height: 50px" th:if="${product.picture.fileName != null}" class="img-thumbnail well"
                     th:src="@{|/files/${product.picture.fileName}|}"/>
                     </td>

                     <td><h5><span th:text="${product.name}"></span></h5>
                     <span th:text="${product.description}"></span></td>
                     <td><span th:text="${product.price}"></span></td>
                     <td>
                        <div class="btn-group-vertical">
                            <a th:href="@{/cart/addToCart(productId=${product.id})}"
                               class="btn btn-outline-success" role="button"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>

                        </div>

                     </td>
                </tr>
            </tbody>
         </table>
    </span>


</div>
<!--footer-->
<div th:insert="fragments/footer :: footer"></div>

</body>
</html>


